@model IEnumerable<ThreeSome.Models.FilmModel>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}
<style>
    body {
        background-image: none;
        background-color: #000000;
    }
</style>
<link href="~/Content/Css/Home.css" rel="stylesheet" />
<!--Font Awesome CDN-->
<div class="">
    <div class="container">

        <div class="slide">


            <div class="item" style="background-image: url('../Content/Img/SliderHome/deadpool.jpg')">
                <div class="content">
                    <div class="name" style="color :#ff2020">DEADPOOL</div>
                    <div class="des">Là một nhân vật phản anh hùng xuất hiện trong bộ truyện tranh Mỹ được xuất bản bởi Marvel Comics</div>
                    <button>Xem thêm</button>
                </div>
            </div>
            <div class="item" style="background-image: url('../Content/Img/SliderHome/dgag542-e3776f0c-3cca-4ce7-b683-672fd79f8455.jpg');">
                <div class="content">
                    <div class="name" style="color :#ff2020">Jujutsu Kaisen</div>
                    <div class="des">Là một bộ truyện tranh Nhật Bản được sáng tác và minh họa bởi Akutami Gege</div>
                    <button>Xem thêm</button>
                </div>
            </div>
            <div class="item" style="background-image: url('../Content/Img/SliderHome/gear-5-luffy-one-piece.png');">
                <div class="content">
                    <div class="name" style="color :#ff2020">One Piece</div>
                    <div class="des" style="color :#ff6a00">Từng được xuất bản tại Việt Nam dưới tên gọi Đảo Hải Tặc là bộ manga dành cho lứa tuổi thiếu niên của tác giả Oda Eiichiro</div>
                    <a style="text-decoration:none; color:black" href="@Url.Action("FilmDetail", "FilmTag", new { area = "" })?FilmID=3"><button>Xem thêm</button></a>
                </div>
            </div>
            <div class="item" style="background-image: url('../Content/Img/SliderHome/Oppenheimer_new_trailer_bhagwad.png');">
                <div class="content">
                    <div class="name" style="color:#ff2020;font-size:30px;">OPPENHEIMER</div>
                    <div class="des">Là một bộ phim điện ảnh Anh – Mỹ thuộc thể loại tiểu sử – tâm lý – chính kịchra mắt vào năm 2023 do Christopher Nolan làm đạo diễn</div>
                    <button>Xem thêm</button>
                </div>
            </div>
            <div class="item" style="background-image: url('../Content/Img/SliderHome/phim-marvel-ra-mat-trong-2-nam-toi.jpg');">
                <div class="content">
                    <div class="name" style="color :#ff2020">Vũ trụ Điện ảnh Marvel</div>
                    <div class="des">Là một loạt các tác phẩm siêu anh hùng chiếu trên màn ảnh rộng</div>
                    <button>Xem thêm</button>
                </div>
            </div>
            <div class="item" style="background-image: url('../Content/Img/SliderHome/spider man.jpg');">
                <div class="content">
                    <div class="name" style="color :#ff2020">SPIDERMAN<br /> NO WAY HOME</div>
                    <div class="des" style="color:#ff6a00">Là một bộ phim siêu anh hùng năm 2021 của Mỹ dựa trên nhân vật Peter Parker của Marvel Comics</div>
                    <button>Xem thêm</button>
                </div>
            </div>
            <div class="item" style="background-image: url('../Content/Img/SliderHome/top-20-phim-le-han-quoc-hay-nhat.png');">
                <div class="content">
                    <div class="name">THE MOON</div>
                    <div class="des">Là một bộ phim điện ảnh Hàn Quốc thuộc thể loại thảm họa – tâm lý – chính kịch ra mắt vào năm 2023 do Kim Yong-hwa làm đạo diễn</div>
                    <button>Xem thêm</button>
                </div>
            </div>
        </div>

        <div class="button">
            <button class="prev" style="width:0px;height:0px;border-radius:100px 100px 100px 100px;box-shadow:2px 3px 10px black"></button>
            <button class="next" style="width: 0px; height: 0px; border-radius: 100px 100px 100px 100px; box-shadow: 2px 3px 10px black"></button>
        </div>

    </div>
</div>
<script>
   
    // Xử lý sự kiện click nút next và prev 
    let next = document.querySelector('.next')
    let prev = document.querySelector('.prev')
    // Hàm tự động ấn vào nút "next" sau mỗi 2 giây
    setInterval(function () {
        next.click();
    }, 4000);
    next.addEventListener('click', function () {
        let items = document.querySelectorAll('.item')
        document.querySelector('.slide').appendChild(items[0])
    })

    prev.addEventListener('click', function () {
        let items = document.querySelectorAll('.item')
        document.querySelector('.slide').prepend(items[items.length - 1]) // here the length of items = 6
    })
</script>
<link href="~/Content/Css/trending.css" rel="stylesheet" />
<h2 style=" line-height: 200px;color:white";>Danh sách phim</h2>
<div class="container" style="background-color:#">
    <div class="row" style="margin: 30px; transform: translate(250px,20px );">
        @foreach (var item in Model)
        {
            <div class="box-video">
                <div class="col">
                    <a style="text-decoration:none;color:white" href="@Url.Action("FilmDetail", "FilmTag", new { area = "" })?FilmID=@item.FilmID">
                        <img class="size-img" style="object-fit: cover;" src="@Url.Content(item.FilmImg)" />
                        <h3 style="color: white" class="card-title">@item.FilmTitle</h3>
                        @if (item.FilmCount != null)
                        {
                            <p style="color: white;font-size:15px" class="card-title-view">
                                Tổng: @item.FilmCount tập
                            </p>
                        }
                        else
                        {
                            <p style="color: white;font-size:15px" class="card-title-view">
                                Tổng: Vẫn đang cập nhật số tập
                            </p>
                        }
                    </a>
                </div>
                </div>
                }
            </div>
        </div>
