@model IEnumerable < ThreeSome.Models.Film>

@{
    ViewBag.Title = "SearchResult";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
}


<link href="~/Content/Css/trending.css" rel="stylesheet" />
<link href="~/Content/Css/Main.css" rel="stylesheet" />


<div class="container">
    <div class="row">
        @if (Model != null && Model.Any())
        {
            if (ViewBag.Search != "")
            {


                <h3>KẾT QUẢ CHO "@ViewBag.Search"</h3>
                foreach (var item in Model)
                {
                    <a class="video-look" href="@Url.Action("Video", "Video", new {id = item.filmID})">
                        <div class="col">
                            <img class="size-img" src="@Url.Content(item.filmIMG)" alt="" />
                            <div class="box-video">
                                <p class="card-title">@Url.Content(item.filmTitle)</p>
                            </div>
                        </div>
                    </a>
                }
            }
            else
            {
    <span></span>
            }
        }
        else
        {
            <h2>KHÔNG TÌM THẤY KẾT QUẢ CHO "@ViewBag.Search"</h2>
        }
    </div>
</div>
