<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/svg" href="~/Content/Img/3sumteam.png" />
    <link href="~/Content/Css/Main.css" rel="stylesheet" />
    <link href="~/Content/Css/Responsive.css" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</head>
<body>
    <div class="main">
        <div class="div-header">
            <a href="@Url.Action("Index", "Home", new { area = "" })"><img id="logo" src="~/Content/Img/3sumteam.png" /></a>
            <div class="search">
                <label for="search-bar"><input type="text" name="search-bar" id="search-bar" placeholder="Search" /></label>
                <label for="search"><button id="search-button"><ion-icon name="search"></ion-icon></button></label>
            </div>

            <nav class="nav">
                <a class="a1" id="tren" href="@Url.Action("Trending", "Home", new { area = "" })">Trending</a>
                @{
                    Html.RenderAction("Index", "Gerne");
                }
                <a class="a1" id="fa" href="@Url.Action("Favorite", "Home", new { area = "" })">Yêu thích</a>
                <a class="a1" id="ab" href="@Url.Action("About", "Home", new { area = "" })">About</a>
                @{
                    bool showLoginButton = Session["Username"] == null;
                }
                @if (Session["Username"] != null)
                 {
                    if(Session["Name"] == null) 
                    {
                    <a href="@Url.Action("Login","Login")">
                        <button class="bt">LOGIN</button>
                    </a>
                    }
                    else { 
                    <div class="dropdown">
                        <a href="#">
                            <button class="bt">@Session["Name"]</button>
                        </a>
                        <div class="dropdown-content">
                            <a href="#">
                                <button class="bt" style="">
                                    <img src="~/Content/Img/user-solid.svg" height="15px" width="15px" />
                                </button>
                            </a>
                            <a href="@Url.Action("ShowFav","Favourite")">
                                <button class="bt">
                                    <img src="~/Content/Img/heart-regular.svg" height="15px" width="15px" />
                                </button>
                            </a>
                            <a href="@Url.Action("Logout","Login")">
                                <button class="bt">
                                    <img src="~/Content/Img/right-from-bracket-solid.svg" height="15px" width="15px" />
                                </button>
                            </a>
                            @if (Session["Username"].ToString() == "admin")
                               {
                                <a href="@Url.Action("Admin","Admin", new {area = "ADMIN"})">
                                    <button class="bt">
                                        <img src="~/Content/Img/list-check-solid.svg" height="15px" width="15px" />
                                    </button>
                                </a>
                                }
                        </div>
                    </div>
                    }
                }
                else
                {
                    <a href="@Url.Action("Login","Login")">
                        <button class="bt">LOGIN</button>
                    </a>
                }
            </nav>

        </div>
        <div class="wrapper">
            <div class="content" style="display:flex;flex-direction:column;align-items:center;">
                <h3 id="output" style="margin-bottom:50px; color:white"></h3>
                @RenderBody()
            </div>
            <script>
                let btn = document.getElementById('search-button');
                let output = document.getElementById('output');

                btn.addEventListener('click', () => {
                    let search = document.getElementById('search-bar').value;
                    output.innerText = `Bạn tìm kiếm: ${search}`;
                });
            </script>
            <footer>
                <div class="footer" id="footer">
                    <h3 style="color: #808080 ">Liên Hệ </h3>
                    <a class="a2" href="About">About</a><br />
                    <a class="a2" href="#">Contact</a>
                    <br />
                    <br />
                    <h5 style="color:#808080">©NoCopyright - Nhóm ăn ba tô cơm</h5>
                </div>
            </footer>
        </div>
    </div>
    <script>
        const header = document.querySelector('.div-header');
        let isCloseToThreshold = false;
        const threshold = 1.5; // Khoảng cách ngưỡng

        window.addEventListener('scroll', function () {
            if (window.scrollY > threshold && !isCloseToThreshold) {
                isCloseToThreshold = true;
                // Thực hiện các thay đổi khi gần đến ngưỡng
                header.style.backgroundColor = 'transparent';
                header.style.boxShadow = 'none';
            } else if (window.scrollY <= threshold && isCloseToThreshold) {
                isCloseToThreshold = false;
                // Thực hiện các thay đổi khi không gần đến ngưỡng
                header.style.backgroundColor = '#1e1e1e';
            }
        });
    </script>
</body>
</html>
