@model IEnumerable<ThreeSome.Models.FilmModel>

@{
    ViewBag.Title = "Thông tin phim";
    Layout = "~/Views/Shared/_FilmLayout.cshtml";
    }
<link href="~/Content/Css/trending.css" rel="stylesheet" />
<link href="~/Content/Css/TagFilm.css" rel="stylesheet" />
@if (ViewBag.ErrorMessage != null)
{
    <div>
        <h3>@ViewBag.ErrorMessage</h3>
    </div>
}
else if (Model.Any())
{
    <span style="display:flex" class="info-container">
        <div class="dess">
            <div class="des-text">
                <h3 class="tieu-de">
                    <button id="heartButton">
                        <a style="text-decoration: none;" id="heartButton" href="@Url.Action("AddtoFav", "Favourite", new {id = Model.First().FilmID})">
                            <ion-icon id="heartIcon" name="heart"></ion-icon>
                            <h6 id="statusText">Thích</h6>
                        </a>
                    </button>
                    @Model.First().FilmTitle
                </h3>
                <p class="mo-ta">@Model.First().FilmDes</p>
            </div>
            <img class="anh-phim" src="@Url.Content(Model.First().FilmImg)" />
        </div>
    </span>
}

<script>
    const button = document.getElementById("heartButton");
    const icon = document.getElementById("heartIcon");
    button.addEventListener("click", function () {
        if (button.classList.contains("active")) {
            button.classList.remove("active");
            icon.setAttribute("name", "heart");
            icon.setAttribute("style", "color:hotpink");
        } else {
            button.classList.add("active");
            icon.setAttribute("name", "heart");
            icon.setAttribute("style", "color:hotpink");
        }
    });
</script>
<h3 style="margin-top:300px;color:white">Danh sách các tập phim </h3>
<br />
<div class="container" style="display:flex">
    @foreach (var item in Model)
    {
        if (@Session["Name"] == null)
        {
            <div class="col" style="margin:50px;color:white">
                <img class="size-img" src="@Url.Content(item.VidIMG)" />
                <div class="box-video">
                    <h3 class="card-title">@item.VidTitle</h3>

                </div>
            </div>
        }
        else
        {
          <a style="text-decoration:none" href="@Url.Action("WatchMovie", "FilmTag", new { area = "" })?VidID=@item.VidId">
            <div class="col" style="margin:50px;color:white">
                <img class="size-img" src="@Url.Content(item.VidIMG)" />
                <div class="box-video" style="text-decoration:none">
                    <h3 class="card-title"style="text-decoration:none" >@item.VidTitle</h3>
                </div>
            </div>
        </a>
        }
     }
</div>
